<!DOCTYPE html>
<html>
<head>
	<title>Hitesh page</title>
</head>
<body>
    <center><h3>Hey this page belongs to inter-galactic warrior the greatest of all time, the saviour of the universe, the one and only</h3></center>
    <marquee><h1>{{my_name}}</h1></marquee>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>Why is HITESSSHHHHHH KUBBBBBERRRRR a greatest of all time?? Answers are here below B)</h3>
    <ul>
        {% for reason in reasons %}
        <li>{{reason}}</li>
        {% endfor %}
    </ul>
</body>
</html>